.body{
    display: flex;
    background-color: white;
}
.body__img-container{
    max-width: 40%;
    width: 500px;
    height: 80vh;
}
.body__img-container > img{
    width: 100%;
    height: 100%;
}
.body__details{
    width: 70%;
    padding: 40px;
}
.body__details__title{
    color: #A8C410;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.body__details__name{
    letter-spacing: 1.5px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.body__details__description{
    margin-bottom: 20px;
    letter-spacing: 0.7px;
}
.body__details__button{
    background-color: #A8C410;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}