.screen{
    width: 350px;
    height: 50px;
}
.screen input[type='text']{
    width: 100%;
    height: 100%;
    outline: none;
    background-color: lightgray;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}